.faq-wrapper {
  padding: 20px;
  background-color: #f9f9f9;
}

.faq-container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.faq-heading {
  font-size: 35px;
}

.faq-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.faq-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
  font-size: 15px;
}

.faq-button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.faq-button:hover {
  background-color: #e0e0e0;
}

.underline {
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: left 0.3s ease, width 0.3s ease;
}

.faq-questions {
  margin-top: 20px;
  text-align: left;
}

.question-container {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.question:hover {
  background-color: #d0d0d0;
}

.answer {
  padding: 15px;
  background-color: white;
  overflow: hidden;
  transition: height 0.3s ease;
}

.answer.open {
  padding: 15px;
}

.icon {
  font-size: 1.5em;
}
