.question-container {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

.question:hover {
  background-color: #d0d0d0;
}

.answer {
  padding: 0 15px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.5s ease;
  font-family: "Outfit", sans-serif;
}

.answer.open {
  padding: 15px;
  max-height: 500px;
}

.icon {
  font-size: 1.5em;
}
