@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-text {
  margin-top: 50px;
  font-size: 40px;
  flex: 1;
  margin-right: 20px;
  color: #333;
  animation: slideInFromLeft 1s ease-out;
}

.left-text .some_text {
  color: #00c1f2;
}

.left-text .some_text_below {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 85%;
}

.formImg {
  margin-top: 0%;
  max-width: 200px;
  max-height: 30%;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.form-container {
  flex: 2;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.form-container:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
}

.form-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.tab {
  flex: 1;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  background-color: #f5f5f5;
  border: none;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab.active {
  background-color: #ffffff;
  border-bottom: 3px solid #00c1f2;
  color: #00c1f2;
  font-size: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

.required {
  color: red;
  font-weight: 400;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
  border-color: #00c1f2;
  background-color: #ffffff;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background-color: #00c1f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #009fcc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group a {
  color: #00c1f2;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.form-group a:hover {
  color: #009fcc;
  text-decoration: underline;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.bill-buttons button {
  margin: 5px;
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.bill-buttons button.selected {
  background-color: #00c1f2;
  color: white;
}

.bill-buttons button:hover {
  background-color: #97e7ff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
