#app {
  height: 100%;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 180px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 180px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
