.chat-widget-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f6f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat-icon img {
  width: 30px;
  height: 30px;
}

.chat-message.bot {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: black;
}

.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.chat-subheader {
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: -2%;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  right: 5%;
}

.close-btn:hover {
  color: #191818;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-history {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input button:hover {
  color: #0056b3;
}

.chat-header-container {
  display: flex;
  flex-direction: column;
}

.chat-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

.chat-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.chat-buttons button:hover {
  background-color: #0056b3;
}
